* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.thdQuiz {
    background-color: gray;
    width: 200px;
    height: 200px;
    border-bottom: 5px black solid;
    margin: 145px auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.thdQuiz::before {
    content: '';
    background-color: black;
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent aliceblue aliceblue;
    transform: translate(0%, -75%) rotate(-40deg);
}

